#LoanForm{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 0px;
}
body{
    background-color: #fde2f3;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: #fde2f3;
}
.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px dashed #917fb3;
    border-radius: 15px;
    padding: 0 2rem 1rem;
    max-width: 400px;
    margin: auto;
    width: 500px;
    gap: 5px;
}
label{
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 18px;
    text-wrap: nowrap;
    gap: 12px;
}
label div{
    font-size: 15px;
    margin-top: auto;
    opacity: .5;
}
.label-css{
    background-color: #e5beec;
    border: 2px dashed #917fb3;
    border-radius: 8px;
    font-family: sans-serif;
    text-align: center;
    padding: 5px 0px;
    padding-left: 38%;
    margin-top: 5px;
    margin-bottom: 10px;
}
input{
    background-color: #e5beec;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin-top: 8px;
    margin-bottom: 12px;
}

body::-webkit-scrollbar{display: none;}

