#LoanForm{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 0px;
}
body{
    background-color: #fde2f3;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: #fde2f3;
}
.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px dashed #917fb3;
    border-radius: 15px;
    padding: 0 2rem 1rem;
    max-width: 400px;
    margin: auto;
    width: 500px;
    gap: 5px;
}
label{
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 18px;
    text-wrap: nowrap;
    gap: 12px;
}
label div{
    font-size: 15px;
    margin-top: auto;
    opacity: .5;
}
.label-css{
    background-color: #e5beec;
    border: 2px dashed #917fb3;
    border-radius: 8px;
    font-family: sans-serif;
    text-align: center;
    padding: 5px 0px;
    padding-left: 38%;
    margin-top: 5px;
    margin-bottom: 10px;
}
input{
    background-color: #e5beec;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin-top: 8px;
    margin-bottom: 12px;
}

body::-webkit-scrollbar{display: none;}


.container-mile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px dashed #917fb3;
    border-radius: 15px;
    padding: 0 2rem 1rem;
    max-width: 400px;
    margin: auto;
    width: 500px;
    gap: 5px;
    margin-top: 15px;
}

.event {
    justify-content: space-between;
    width: 100%;
    display: flex;
}
.create-btn button{
    height: 45px;
    width: 145px;
    border: none;
    border-radius: 8px;
    color: #fde2f3;
    background-color:#917fb3;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    height: 5.4vh;
    margin-top: 2rem;
    padding: 1rem 1rem 2rem;
    transition: .2s ease-in-out ;
}

button:hover{background-color: #1b1e30;}
.btn{    
    background-color: #fde2f3;
    background-color: #917fb3;
    border: none;
    border-radius: 8px;
    color: #fde2f3;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    height: 5.4vh;
    margin-top: 2rem;
    padding: 1rem 1rem 2rem;
    transition: .2s ease-in-out;
}
.delete{
    margin-top: 5px;
    position: absolute;
    margin-left: 375px;
}

.date{
    height: 20px;
    width: 170px;
}

.last{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

}

.logo{
    display: flex;
    position: fixed;
    bottom: 5px;
    left: 30px;
}

#team{
    margin-left: 8px;
}

#greet{
    margin-top: -28px;
    font-size:35px;
    font-weight: 500;
    color: #2a2f4f;
}